tr {
  text-align: center;
}
 td, th {
   border: 1px solid;
 }

 button {
   height: 24px;
   width: 96px;
   margin: 12px;
 }

 #btn_container {
  text-align: center;
  width: 50%;
  height: 500px;
 }


 table {
  width: 100%;
  overflow: auto;

 }